@charset "UTF-8";
html{
    font-size: 100%;
}
a{
    text-decoration: none;
    color: #0bd;
}
img{
    height: 150px;
    width: 150px;
}
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 100px;
    list-style: none;
    color: aliceblue;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a:hover{
    color: #0bd;
}
.header{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4px;
}

#music{
    background-image: url(../img/GDpCfk9aYAAWafw\ \(1\).jpg);
    height: 450px;
    margin-bottom: 40px;
}
#music .page-title{
    text-align: center;
    color: white;
}

article{
    width: 74%;
}
aside{
    width: 22%;
}

.big-bg{
    background-size: cover;
    background-position: center top;
}

p{
    width: 100%;
}

.music1 h2{
    margin-left: 330px;
    margin-top: 30px;
}

.Keserasera{
    width: 800px;
    height: 650px;
}
.Keserasera img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.music2 h2{
    margin-left: 330px;
    margin-top: 30px;
}
.anntena{
    width: 800px;
    height: 650px;
}
.anntena img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.music3 h2{
    margin-left: 330px;
    margin-top: 30px;
}
.nahatomuzic{
    width: 800px;
    height: 650px;
}
.nahatomuzic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sub-menu{
    margin-bottom: 60px;
    padding: 0;
}

.sub-title{
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px greenyellow solid;
    font-weight: normal;
}
.sub-menu a{
    color: black;
}
.music-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}